/* typography */
h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 600;
    line-height: 1.25;
}

h1 {
    font-size: 2.5em;
    border-bottom: 2px solid var(--border-light);
    padding-bottom: 0.3em;
    color: var(--secondary-text);
}

h2 {
    font-size: 2em;
    border-bottom: 1px solid var(--border-light);
    padding-bottom: 0.3em;
    color: var(--tertiary-text);
}

h3 {
    font-size: 1.5em;
    color: var(--tertiary-text);
}

h4 {
    font-size: 1.25em;
    color: var(--tertiary-text);
}

h5 {
    font-size: 1.1em;
    color: var(--tertiary-text);
}

h6 {
    font-size: 1em;
    color: var(--tertiary-text);
    font-weight: 500;
    opacity: 0.8;
}
